*{
  box-sizing: border-box;
}
section{
  display: flex;
  width: 300px;
  flex-wrap: wrap;
}
span{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  line-height: 100px;
  font-size: 36px;
  text-align: center;
}